body {
  background-color: #cdcdcd; /* Light grey */
}
#drop-area {
  border: 2px solid #000;
  border-radius: 20px;
  width: 80%;
  margin: 10vh auto;
  padding: 20px;
  text-align: center;
}

.my-form p {
  margin: 10px 0;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button:hover {
  background: #ddd;
}

#gallery {
  margin-top: 20px;
}

#gallery img {
  max-width: 100px; 
  max-height: 100px; 
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: auto; 
  height: auto; 
}
#file-list {
  list-style-position: inside; 
  padding-left: 0; 
  text-align: center; 
  margin: 0 auto; 
  width: 80%; 
}
