<!DOCTYPE html>
<html lang="en">
<head>
    <title>Photo-Slideshow App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="drop-area">
        <form class="my-form">
            <p>Upload multiple files with the file dialog or by dragging and dropping images onto the solid boundary</p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
        </form>
        <h3>Uploaded Files</h3>
        <ul id="file-list"></ul>
        <div id="gallery"></div>
    </div>
    <h3>Select Photos for Video</h3>
    <div id="photo-selection"></div>
        
    <h3>Add Background Music</h3>
    <input type="file" id="musicFile" accept="audio/*" onchange="handleMusic(this.files)">
    <br><br>
    <div>
        <button id="confirm-selection-button">Confirm Selection</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>